@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Reflection.Metadata

@inject NavigationManager Navigation

<MudNavMenu Style="display:flex; flex-direction: column; justify-content: space-between; height: 100vh; margin-bottom: 16px; overflow: hidden;">
    <div>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <AuthorizeView Roles="Admin, Staff" >
            <MudNavLink Href="leaderboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People">Leaderboard</MudNavLink>
            <MudNavLink Href="profiles" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">Profiles</MudNavLink>
            <MudNavLink Href="skills" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.WorkspacePremium">Skills</MudNavLink>
        </AuthorizeView>
        <!-- Admin only links -->
        <AuthorizeView Roles="Admin" Context="sub_context">
            <MudNavLink Href="achievements" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Stars">Achievements</MudNavLink>
            <MudNavLink Href="rewards" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Redeem">Rewards</MudNavLink>
            <MudNavLink Href="quizzes" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Quiz">Quizzes</MudNavLink>
            <MudNavLink Href="users" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People">Users</MudNavLink>
            <MudNavLink Href="newusers" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SupervisedUserCircle">New Users</MudNavLink>
            <MudNavLink Href="prizedraw" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Celebration">Prize Draw</MudNavLink>
            <MudNavLink Href="notifications" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Chat">Notifications</MudNavLink>
            <MudNavLink Href="delete" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Delete">Delete</MudNavLink>
        </AuthorizeView>
    </div>
    
    <AuthorizeView>
        @if (!IsOpen)
        {
            <MudIconButton 
                Variant="Variant.Filled"
                Color="Color.Primary"
                Icon="@Icons.Material.Outlined.Logout"
                OnClick="@BeginSignOut"
                Style="margin: 8px;"/>
        }
        else
        {
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                StartIcon="@Icons.Material.Outlined.Logout"
                OnClick="@BeginSignOut"
                Style="margin: 8px;">
                Log Out
            </MudButton>
        }
    </AuthorizeView>
</MudNavMenu>

@code {
    [Parameter] public bool IsOpen { get; set; }
    
    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}