@page "/send-notification"

@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using SSW.Rewards.Shared.DTOs.Achievements
@using SSW.Rewards.Shared.DTOs.Roles
@using SSW.Rewards.Admin.UI.Models

@attribute [Authorize(Roles = "Admin")]

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
    <MudText Typo="Typo.h3" GutterBottom="true">Send Notification</MudText>

    <MudGrid>
        <MudItem xs="12" md="12">
            <MudPaper Class="pa-4 warm-grey-bg">
                <EditForm Model="@_model" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <MudGrid Spacing="3">
                        <MudItem xs="12">
                            <MudTooltip Text="This shows how many users got the notification out of everyone we tried to send it to. Some may not get it if they haven’t enabled notifications or their device token expired.">
                                <MudText Typo="Typo.h6" Style="display: inline; cursor: help;">Delivery<span style="color: red;">*</span></MudText>
                            </MudTooltip>
                            <MudRadioGroup @bind-Value="@_model.DeliveryOption">
                                <MudRadio Option="@Delivery.Now" Color="Color.Primary">Now</MudRadio>
                                <MudRadio Option="@Delivery.Schedule" Color="Color.Primary">Schedule</MudRadio>
                            </MudRadioGroup>
                        </MudItem>

                        @if (_model.DeliveryOption == Delivery.Schedule)
                        {
                            <MudItem xs="12" sm="6" md="4">
                                <MudDatePicker Label="Date" @bind-Date="@_model.ScheduleDate" For="@(() => _model.ScheduleDate)" Required="true" MinDate="@DateTime.Today" />
                            </MudItem>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTimePicker Label="Time" @bind-Time="@_model.ScheduleTime" For="@(() => _model.ScheduleTime)" Required="true" />
                            </MudItem>
                            <MudItem xs="12" sm="12" md="4">
                                <MudSelect @bind-Value="@_model.SelectedTimeZone" Label="Timezone" For="@(() => _model.SelectedTimeZone)" Required="true" AnchorOrigin="Origin.BottomCenter">
                                    @foreach (var tz in _timezones)
                                    {
                                        <MudSelectItem Value="@tz.Key">@tz.Value</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                        }

                        <MudItem xs="12">
                            <MudText Typo="Typo.h6" Style="display: inline; cursor: help;">Target<span style="color: red;">*</span></MudText>
                            <MudRadioGroup @bind-Value="@_model.TargetingOption">
                                <MudRadio Option="@Targeting.Everyone" Color="Color.Primary">Everyone</MudRadio>
                                <MudRadio Option="@Targeting.Achievement" Color="Color.Primary">Requires Achievement</MudRadio>
                                <MudRadio Option="@Targeting.Role" Color="Color.Primary">Requires Role</MudRadio>
                            </MudRadioGroup>
                        </MudItem>

                        @if (_model.TargetingOption == Targeting.Achievement)
                        {
                            <MudItem xs="12">
                                <MudAutocomplete T="AchievementDto"
                                                 @bind-Value="@_model.SelectedAchievement"
                                                 Label="Required Achievement"
                                                 AnchorOrigin="Origin.BottomCenter"
                                                 SearchFuncWithCancel="@SearchAchievements"
                                                 ShowProgressIndicator="true"
                                                 ToStringFunc="@GetAchievementName"
                                                 Clearable="true"
                                                 ResetValueOnEmptyText="true"
                                                 Required="true" />
                            </MudItem>
                        }

                        @if (_model.TargetingOption == Targeting.Role)
                        {
                            <MudItem xs="12">
                                <MudAutocomplete T="RoleDto"
                                                 @bind-Value="@_model.SelectedRole"
                                                 Label="Role"
                                                 SearchFunc="@SearchRoles"
                                                 ToStringFunc="@(role => role?.Name ?? string.Empty)"
                                                 Clearable="true"
                                                 ResetValueOnEmptyText="true"
                                                 Dense="true"
                                                 Required="true" />
                            </MudItem>
                        }

                        <MudItem xs="12">
                            <MudText Typo="Typo.h6" Class="mt-4">Content</MudText>
                        </MudItem>

                        <MudItem xs="12">
                            <MudTextField @bind-Value="@_model.Title" Label="Notification Title" For="@(() => _model.Title)" Required="true" MaxLength="100" Counter="100" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudTextField @bind-Value="@_model.Body" Label="Notification Body" For="@(() => _model.Body)" Required="true" Lines="3" MaxLength="250" Counter="250" />
                        </MudItem>

                        <MudItem xs="12">
                            <MudTextField @bind-Value="@_model.ImageUrl" Label="Notification Image URL (Optional)" For="@(() => _model.ImageUrl)" />
                        </MudItem>

                        <MudItem xs="12" Class="d-flex justify-end mt-4">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" Disabled="@_isSending">Send Notification</MudButton>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
